 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F8F8F8;
 }

 .logo {
  display: none;
 }

  .signhead {
    display: flex;
    align-items: center;
   font: inter;
    font-size: 24px;
    font-weight: 600;
    padding: 24px 30px;
    padding-bottom: 24px !important;
    line-height: 29.05px; 
 }

 .signIcon {
  display: flex;
    align-items: center;
  margin-right: 10px;
  font-weight: 600;
 }

 .emailInput, .passwordInput, .submitBtn, .guestBtn,.forgotPassword {
   padding-bottom: 24px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding-left: 24px;
 }

 
 .inputField {
  height: 38px;
  width: 278px;
  left: 0px;
  top: 5px;
  border-radius: 16px;
  padding: 14px 12px 14px 12px;
  border: 1px solid #BBBBC4;
  color: #54546B;
 }
 .passwordInput {
  padding-bottom: 5px !important;
 }

 .forgotPassword {
  font-size: 14px;
  
  line-height: 16.94px;
  margin-bottom: 30px;

 }

 .passwordPosition {
   margin-bottom: 10px;
 }

 .submitBtn1 {
  Width: 278px;
Height: 56px;
Top: 247px;
Left: 18px;
  border-radius: 16px;
  border: none;
  padding: 8px 24px 8px 24px;
  background: #FA5A00;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
 }

 .guestBtn1 {
  height: 57px;
  width: 278px;
  left: 14px;
  top: 625px;
  border-radius: 16px;
  padding: 8px 24px 8px 24px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #BBBBC4, #BBBBC4);
  border: 1px solid #BBBBC4  
 }

 .social-media-wrapper{
  width: 23%;
  margin-left: 20px;
  text-align: center; 
  font: inter;
  font-size: 13px;
}
 .social-media-icons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
 }
 .social-media-icons a{
  margin: 10px;
 }
 .sign-in-using{
  margin-top: 20px;
  font: inter;
 }
 .account-creation-wrapper{
  margin-bottom: 30px;
 }
 .account{
  font-weight: 600;
 }


  @media(min-width:769px)  {
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: #F8F8F8;
      overflow-y: hidden;
   }
  
    .rightSection {
     display: flex;
     position: absolute;
      min-width: 49%;
      min-height: 100%;
      margin-left: 758px;
    }

    .leftSection {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
      width: 50%;
      min-height: 100vh;
    
    }

    .logo {
      display: block;
      padding-top: 20px;
      padding-left: 30px;
    }

    .signIcon {
      display: none;
    }

    .signhead {
      text-align: left !important;
      align-items: flex-start !important;
      align-content: start !important;
      font-family: Inter;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: 0em;
    }

    .guestBtn1 {
      border: none;
      background: #F8F8F8;
      color: #FA5A00;
      text-decoration: underline;
      margin-bottom: 50px !important;
    }

    .inputField {
      height: 38px;
      width: 278px;
      left: 0px;
      top: 5px;
      padding: 14px 12px 14px 12px;
      border: 1px solid #BBBBC4;
      background: white;
      border: 1px solid #BBBBC4;
      border-radius: 16px
     }
}

@media (min-width:768px) {
  .rightSection {
    display: flex;
    position: absolute;
     min-width: 49%;
     min-height: 100vh;
     margin-left: 758px;
   }

   .logo {
    display: block;
    padding-top: 20px;
    padding-left: 30px;
  }

  .leftSection {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    min-width: 50vw !important;
    min-height: 100vh;
  
  }

  .guestBtn1 {
    border: none;
    background: #F8F8F8;
    color: #FA5A00;
    text-decoration: underline;
    margin-bottom: 50px !important;
  }
  
}
 
