 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F8F8F8;

 }

  .signhead {
    display: flex;
    align-items: center;
   font: inter;
    font-size: 24px;
    font-weight: 600;
    padding: 24px 30px;
    padding-bottom: 24px !important;
    line-height: 29.05px; 
 }

 .signIcon {
  display: flex;
    align-items: center;
  margin-right: 10px;
  font-weight: 600;
 }

 .emailInput, .passwordInput, .submitBtn, .guestBtn,.forgotPassword {
   padding-bottom: 24px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding-left: 24px;
 }

 
 .inputField {
  height: 38px;
  width: 278px;
  left: 0px;
  top: 5px;
  border-radius: 16px;
  padding: 14px 12px 14px 12px;
  border: 1px solid #BBBBC4;
  color: #54546B;
 }
 .passwordInput {
  padding-bottom: 5px !important;
 }

 .forgotPassword {
  font-size: 14px;
  
  line-height: 16.94px;
  margin-bottom: 30px;

 }

 .passwordPosition {
   margin-bottom: 10px;
 }

 .submitBtn1 {
  Width: 278px;
Height: 56px;
Top: 247px;
Left: 18px;
  border-radius: 16px;
  border: none;
  padding: 8px 24px 8px 24px;
  background: #FA5A00;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
 }

 .guestBtn1 {
  height: 57px;
  width: 278px;
  left: 14px;
  top: 625px;
  border-radius: 16px;
  padding: 8px 24px 8px 24px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #BBBBC4, #BBBBC4);
  border: 1px solid #BBBBC4  
 }

.social-media-wrapper{
  width: 23%;
  margin-left: 20px;
  text-align: center; 
  font: inter;
  font-size: 13px;
}
 .social-media-icons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
 }
 .social-media-icons a{
  margin: 10px;
 }
 .sign-in-using{
  margin-top: 20px;
  font: inter;
 }
 .account-creation-wrapper{
  margin-bottom: 30px;
 }
 .account{
  font-weight: 600;
 }
 /* @media(min-width:376px) and (max-width:426px) {
  .forgotPassword {
     display: flex;
  justify-content: start;
  text-align: left !important;
    padding-left: 100px !important;
  }
   
 }*/