@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
}
/* input {
  margin-bottom: 100px;
} */
.container {
    display: flex;
    height: 100vh;
}