.flex {
    display: flex;
  }
  .verification {
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }

.Simage{
    width: 50%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 830px) {
      display: none;
}
}